<section class="contact">
    <h2>Kontaktuppgifter</h2>
    <p><i class="fa-solid fa-phone"></i> Telefon: <a href="tel:+46702458878">070-245 88 78</a></p>
    <p><i class="fa-solid fa-envelope"></i> E-post: <a href="mailto:petra.ingemarsson@gmail.com">petra.ingemarsson@gmail.com</a></p>
    <p><i class="fa-brands fa-linkedin"></i> LinkedIn: <a href="linkedin.com/in/petra-ingemarsson" target="_blank">linkedin.com/in/petra-ingemarsson</a></p>
</section>