@page "/education"

<PageTitle>Utbildning</PageTitle>

<article class="education">
    <h1>Utbildning</h1>
    <section>
        <h2>Mittuniversitetet</h2>
        <p class="first-p">Högskoleexamen datateknik</p>
        <p class="period">AUGUSTI 2022 - MAJ 2024</p>
        <ul>
            <li>
                Studerar webbutveckling med fokus på moderna språk och ramverk, relationsdatabaser, NoSQL-databaser,
                projektledning, agila metoder, REST-webbtjänster, CMS, användbarhet och tillgänglighet med mera.
            </li>
            <li>
                Utvecklar förmågan att lösa problem och skapa innovativa lösningar.
            </li>
            <li>
                Planerar och konstruerar projekt som avslut på respektive kurs.
            </li>
            <li>
                Bidrar aktivt till att dela egna erfarenheter med kurskamrater.
            </li>
        </ul>
    </section>
    <section>
        <h2>Örebro universitet</h2>
        <p class="first-p">Socionomexamen</p>
        <p class="period">AUGUSTI 2011 - JANUARI 2017</p>
    </section>
    <section>
        <h2>Västerhöjdsgymnasiet</h2>
        <p class="first-p">Omvårdnadsprogrammet</p>
        <p class="period">AUGUSTI 2006 - JUNI 2009</p>
    </section>
</article>