@page "/experience"

<PageTitle>Erfarenhet</PageTitle>

<article class="experience">
    <h1>Erfarenhet</h1>
    <section>
        <h2>Biståndshandläggare</h2>
        <p class="first-p">Örebro kommun</p>
        <p class="period">AUGUSTI 2017 - AUGUSTI 2022</p>
        <ul>
            <li>
                Utredde och fattade beslut om bistånd enligt socialtjänstlagen.
            </li>
            <li>
                Samordnade och ledde regelbundet olika möten där medborgare och deras anhöriga samt andra professionella
                aktörer deltog.
            </li>
            <li>
                Ansvarade för att utbilda kollegor i verksamhetssystem och IBIC.
            </li>
            <li>
                Utvecklade och uppdaterade handbok och tekniska manualer.
            </li>
            <li>
                Ledde flera olika arbetsgrupper inom verksamheten.
            </li>
        </ul>
    </section>
    <section>
        <h2>Socialsekreterare</h2>
        <p class="first-p">Örebro kommun</p>
        <p class="period">JANUARI 2017 - AUGUSTI 2017</p>
        <ul>
            <li>
                Utredde och fattade beslut om bistånd enligt socialtjänstlagen.
            </li>
            <li>
                Stöttade medborgare att uppnå egenförsörjning.
            </li>
        </ul>
    </section>
    <section>
        <h2>Semestervikarierande socialsekreterare</h2>
        <p class="first-p">Örebro kommun</p>
        <p class="period">JUNI 2016 - AUGUSTI 2016</p>
    </section>
    <section>
        <h2>Semestervikarierande personlig assistent</h2>
        <p class="first-p">Humana Assistans AB</p>
        <p class="period">JUNI 2012 - AUGUSTI 2015</p>
    </section>
</article>