@page "/"

<PageTitle>Startsida</PageTitle>

<article class="start-page">
    <h1>Startsida</h1>
    <p>Någon inledande text om mitt CV...</p>
    <img src="petra.jpg" alt="Profilbild på Petra">
</article>

<Contact />