@page "/"

<PageTitle>Startsida</PageTitle>

<article class="start-page">
    <div class="item">
        <h1>Petra Ingemarsson</h1>
        <p><em>Webbutvecklare & socionom - frontend, backend, fullstack och ett stort mått av social kompetens.</em></p>
    </div>
    <img src="croppedpetra.jpg" alt="Profilbild på Petra">
</article>

<Contact />